<h1>{{nombre}}</h1>
<dl>
    <td>Nombre:</td>
    <dd>{{nombre}}</dd>

    <td>Edad:</td>
    <dd>{{edad}}</dd>

    <td>Funcion:</td>
    <dd>{{obtenerNombre()}}</dd>

    <td>Capitalizado:</td>
    <dd>{{nombreCapitalizado}}</dd>
  </dl>

    <button
      *ngIf="nombre !=='Spiderman'"
      (click)=cambiarNombre()
      class="btn btn-primary nx-2">
      Cambiar Heroe
     </button>


    <button
      *ngIf="edad !==23"
      (click)="cambiarEdad()"
      class="btn btn-primary nx-2">
      Cambiar Edad
    </button>

    <button
       (click)="resetForm()"
      class="btn btn-primary nx-2">
      Resetear
    </button>


