<h4>Agregar Personaje</h4>
     <form class="row" (ngSubmit)="uf_emitCharacter()">
        <input type ="text"
        [(ngModel)]="character.nombre"
        name="nombre"
        class="form-control mb-2"
        placeholder="Nombre">

        <input type ="number"
        [(ngModel)]="character.poder"
        name="poder"
        class="form-control mb-2"
        placeholder="Poder">

        <button type="submit"
        class="btn btn-primary"
        (click)="uf_emitCharacter"
        >Agregar</button>
    <!--  <pre>{{character | json}}</pre>-->
      </form>
